.brand-hover:hover {
    color: #dc3545; 
    cursor: pointer;
  }
.search-box {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 25px; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 12px 20px; 
  }
  .search-box .btn {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .search-box .btn span {
    font-size: 16px;
  }
  .no-wrap-text{
    white-space: nowrap;
  }
.search-box .btn:hover{
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.4);
  /* background-color: #b5b6b8;  */
  transition: all 0.3s ease;
  border-radius: 25px;
}
/* .search-box .btn i{
  pointer-events: none;
} */
.search-box-small {
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(17, 17, 17, 0.4);
  margin:20px 10px;
}
.search-box-small span{
  font-weight: bold;
}
.search-box-small i{
  font-weight: bold;
}
hr{
  color:rgb(51, 51, 51, 0.3);
}
