<!-- property-header.component.html -->
 
<div class="property-header" *ngIf="property">
    <h1 class="property-title">{{ property?.title }}</h1>
    
    <div class="property-meta">
      <div class="rating">
        <!-- <span class="star">★</span>
        <span class="rating-value">{{ ratingDisplay }}</span>
        <span class="reviews">({{ reviewCountDisplay }} reviews)</span> -->
      </div>
      
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ property?.location?.name }}</span>
      </div>
      
      <!-- <div class="property-type">
    
        {{ property?.propertyType?.propertyType}} .  {{property?.maxGuests}} guest  · {{ property?.numBedrooms }} bedrooms · {{property?.numBeds}} beds .  {{ property?.numBathrooms }} bathrooms
      </div> -->
      <div class="property-type" >
        {{ property.propertyType?.name }}
        {{ property.maxGuestCount }} guest{{ property.maxGuestCount !== 1 ? 's' : '' }} · 
        <!-- {{ property.numBedrooms }} bedroom{{ property.numBedrooms !== 1 ? 's' : '' }} · 
        {{ property.numBeds }} bed{{ property.numBeds !== 1 ? 's' : '' }} · 
        {{ property.numBathrooms }} bathroom{{ property.numBathrooms !== 1 ? 's' : '' }} -->

        <span *ngFor="let space of property.spaceSummaries; let last = last">
          {{ space.count }} {{ space.spaceType.name.toLowerCase() }}{{ space.count !== 1 ? 's' : '' }}
          <span *ngIf="!last"> · </span>
        </span>
        <div *ngFor="let item of property.spaceItemSummaries">
          {{ item.quantity }} {{ item.itemType.name.toLowerCase() }}{{ item.quantity !== 1 ? 's' : '' }}
        </div>

      </div>

    </div>
  </div>