<div class=" position-relative d-flex  align-items-center flex-wrap gap-2 mb-0" >
<!--categories-->
<!-- Left Arrow -->
<button class="scroll-btn left" (click)="scrollLeft()">
  <i class="bi bi-chevron-left"></i>
</button>
<div #categoriesContainer class="categories-container d-flex overflow-auto my-4 gap-3 py-2 flex-grow-1">  
  <div
      *ngFor="let category of categories"
      class="category-item text-center px-3 d-flex flex-column align-items-center"
      (click)="filterByCategory(+category.id)"
    >
      <i [class]="category.icon" class="fs-4 mb-1"></i>
      <span class="small mt-1">{{ category.name }}</span>
    </div>
  <!-- Right Arrow -->
<button class="scroll-btn right" (click)="scrollRight()">
  <i class="bi bi-chevron-right"></i>
</button>
</div> 
<!--end of categories-->
<!-- right buttons -->
<!-- <div class="buttons-container d-md-flex d-none gap-2 justify-content-md-end">
  <button class="btn">Filters</button>
  <button class="btn">Display total before taxes </button>
</div> -->
</div>

<!-- Cards -->
<div class="container mb-4 py-5 mt-0 pt-2" id="cards">
    <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <!-- card  -->
        <div class="col" *ngFor="let prop of properties">
            <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden">
              <!--imag div-->
              <div class="ratio" >
                <img [src]="prop.imageUrl" class="card-img-top object-fit-cover w-100 h-100" alt="property photo">
                <!--------------------------------------------------wishlist button--------------->
                <button class="wishlist-btn  border-0 p-0">
                  <lucide-icon [name]="icons.wishlist" class="wishlist-icon"></lucide-icon>
                </button>
              </div>
                <!--card body-->
                <div class="card-body d-flex flex-column justify-content-between px-3 py-2"style="min-height: 150px;">
                  <div>
                    <h6 class="card-title fw-semibold mb-1" style="font-size: 1.1rem;">{{prop.title}}</h6>
                    <p class="card-text text-muted small mb-2" style="font-size: 0.9rem;">{{prop.distanceFromMe}} km away <br> Jun 16 - 21 </p>
                  </div>
                  <h6 class="card-text fw-bold" style="font-weight: 600; font-size: 1rem;">{{prop.pricePerNight}} ج.م night</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--map button-->
<button class="map-button" [ngStyle]="{ bottom: isFooterVisible ? '100px' : '20px' }" (click)="toggleView()">
  {{ buttonText }}
</button>

<!-- Pagination -->
<div class="pagination-container">
  <ul class="pagination">
    <li *ngFor="let page of [].constructor(Math.ceil(totalItems / itemsPerPage)); let i = index">
      <button (click)="onPageChange(i + 1)" [class.active]="i + 1 === currentPage">
        {{ i + 1 }}
      </button>
    </li>
  </ul>
</div>

