<!-- right buttons -->
<div class="buttons-container">
    <button class="btn">Filters</button>
    <button class="btn">Display total before taxes </button>

</div>


<!-- Cards -->
<div class="container mb-4 py-5" id="cards">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <!-- card 1 -->
        <div class="col">
  <div class="card" style="width: 16rem;">
    <img src="..." class="card-img-top" alt="here is photo">
    <div class="card-body">
      <h5 class="card-title">Ubud Gianyar , Indonesia</h5>
      <p class="card-text text-muted">9,951 kilometers away <br> Jun 16 - 21 </p>
      <h6 class="card-text">6,917 ج.م night</h6>
    </div>
  </div>
        </div>
   <!-- card 2 -->
   <div class="col">
  <div class="card" style="width: 16rem;">
    <img src="..." class="card-img-top" alt="here is photo">
    <div class="card-body">
      <h5 class="card-title">Ubud Gianyar , Indonesia</h5>
      <p class="card-text text-muted">9,951 kilometers away <br> Jun 16 - 21 </p>
      <h6 class="card-text">6,917 ج.م night</h6>
    </div>
  </div>
   </div>
   <!--card 3 -->
   <div class="col">
    <div class="card" style="width: 16rem;">
      <img src="..." class="card-img-top" alt="here is photo">
      <div class="card-body">
        <h5 class="card-title">Ubud Gianyar , Indonesia</h5>
        <p class="card-text text-muted">9,951 kilometers away <br> Jun 16 - 21 </p>
        <h6 class="card-text">6,917 ج.م night</h6>
      </div>
    </div>
     </div>
     <!-- card 4 -->
     <div class="col">
        <div class="card" style="width: 16rem;">
          <img src="..." class="card-img-top" alt="here is photo">
          <div class="card-body">
            <h5 class="card-title">Ubud Gianyar , Indonesia</h5>
            <p class="card-text text-muted">9,951 kilometers away <br> Jun 16 - 21 </p>
            <h6 class="card-text">6,917 ج.م night</h6>
          </div>
        </div>
         </div>
    </div>
</div>



