/*categories*/
.categories-container{
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  flex: 1 1 auto;
  max-width: 70%;
}
.category-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.category-item:hover {
  color: #0e0d0d;
  transform: scale(1.05);
}
/*right buttons style*/
.buttons-container {
    display: flex;
    justify-content: end;
    flex-shrink: 0;
    top: 180px; 
    right: 15px; 
    gap: 10px; 
    padding-right: 8px;
    margin-top: 10px;
    margin-right: 5px;
  }
  
  .buttons-container .btn {
    background-color: #ffffff; 
    color: black;
    border: black solid 1px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #f6f7f8; 
   
  }
  /* cards style*/
  /* .container{
    /* display: flex;
    gap:20px ;
    flex-wrap: wrap; */
    /* min-height: 400px;
    padding-top: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 80px;
    padding-bottom: 70px;*/
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
  }  */
  #cards{
    display: flex;
    gap:20px ;
    flex-wrap: wrap;
  }
.card{
    margin: 30px;
    padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  
}
/*map button style*/
.map-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px 20px;
  background-color: #2a2a2b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.map-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

