<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
      <div class="container h-100">
        <img src="logo.png" alt="" class="w-100 object-fit-contain" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container d-flex flex-column gap-4">
        <h2 class="text-primary text-center">Sign Up</h2>
        <form
          id="signupForm"
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          class="w-100">
          <!-- Email -->
          <div class="form-floating mb-3 position-relative">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email" />
            <label>Email</label>
            <div
              class="text-danger"
              *ngIf="
                formControls['email'].invalid && formControls['email'].touched
              ">
              <small *ngIf="formControls['email'].errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="formControls['email'].errors?.['email']"
                >Invalid email format. Correct format: name &#64;
                example.com</small
              >
            </div>
          </div>

          <!-- Password -->
          <div class="form-floating mb-4 position-relative">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Password" />
            <label>Password</label>
            <div
              class="text-danger"
              *ngIf="
                formControls['password'].invalid &&
                formControls['password'].touched
              ">
              <small *ngIf="formControls['password'].errors?.['required']"
                >Password is required.</small
              >
              <small *ngIf="formControls['password'].errors?.['minlength']"
                >Minimum 12 characters.</small
              >
              <small *ngIf="formControls['password'].errors?.['pattern']">
                Must contain uppercase letter, number, and special character.
              </small>
            </div>
          </div>

          <p id="black">
            By Selecting Agree and Continue,I agree to Airbnb's
            <a routerLink="/register"
              >Terms of Service,Payment Terms of Service and Nondiscrimination
              Policy
            </a>
            and Acknowledge the Privacy Policy
          </p>
          <!-- Submit -->
          <button
            type="submit"
            class="btn btn-primary text-white w-100 fw-semibold">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
