<div class="booking-page">
  <div class="left-content">
      <h4>Your trip</h4>
      <!--date container-->
      <div class="date-container">
        <div class="date-section">
          <h6>Dates</h6>
           <button class="edit-button" (click)="openOverlay('date')">Edit</button>
        </div>
        <div class="date-values">
          <span>
            <!-- Displayed Dates -->
            <p class="text-sm text-gray-600 mt-1">
            {{ savedCheckIn || 'Add date' }} → {{ savedCheckOut || 'Add date' }}
            </p>
          </span>
        </div>
        <!--date overlay-->
        <div class="overlay" *ngIf="overlayType === 'date'" (click)="closeOverlay()">
          <div class="popup-content" (click)="$event.stopPropagation()">
            <h2>Edit Booking Details</h2>
            <form>
              <label for="checkIn">Check-In Date:</label>
              <input type="date" id="checkIn" [(ngModel)]="checkInDate" name="checkIn" />
        
              <label for="checkOut">Check-Out Date:</label>
              <input type="date" id="checkOut" [(ngModel)]="checkOutDate" name="checkOut" />
        
              <div class="buttons">
                <button type="button" (click)="saveChanges()">Save Changes</button>
                <button type="button" (click)="closeOverlay()">Cancel</button>
              </div>
            </form>
          </div> 
        </div>
    </div>

    <!--guests div-->
      <div class="date-section">
        <h6>Guests</h6> 
        <button class="edit-button" (click)="openOverlay('guest')">Edit</button>
      </div>
      <div class="date-values">
        <!--display guests-->
        <span class="text-sm text-gray-600 mt-1">
          {{totalGuests || 'Add guest'}}
        </span>
      </div>
      <!--guest overlay-->
      <div class="overlay" *ngIf="overlayType === 'guest'" (click)="closeOverlay()">
        <div class="popup-content" (click)="$event.stopPropagation()">
          <h2>Guests</h2>
          <form>
            <!--Adults-->
            <div class="guest-type">
              <label>Adults</label>
              <small>Age 13+</small>
              <div class="controls">
                <button type="button" (click)="decrement('adults')">-</button>
                <span>{{adults}}</span>
                <button type="button" (click)="increment('adults')">+</button>
              </div>
            </div>
            <!--Children-->
            <div class="guest-type">
              <label>Children</label>
              <small>Ages 2-12</small>
              <div class="controls">
                <button type="button" (click)="decrement('children')">-</button>
                <span>{{children}}</span>
                <button type="button" (click)="increment('children')">+</button>
              </div>
            </div>
            <!--infants-->
          <div class="guest-type">
            <label>Infants</label>
            <small>Under 2</small>
            <div class="controls">
              <button type="button" (click)="decrement('infants')">-</button>
              <span>{{infants}}</span>
              <button type="button" (click)="increment('infants')">+</button>
            </div>
          </div>
          <!--pets-->
          <div class="guest-type">
            <label>Pets</label>
            <div class="controls">
              <button type="button" (click)="decrement('pets')">-</button>
              <span>{{pets}}</span>
              <button type="button" (click)="increment('pets')">+</button>
            </div>
          </div>
          <!--save and cancel buttons -->
          <div class="buttons">
            <button type="button" (click)="saveChanges()">Save Changes</button>
            <button type="button" (click)="closeOverlay()">Cancel</button>
          </div>
          </form>
          
        </div>
        
      </div>
      <hr>
      <!--cancellation policy-->
      <h4>Cancellation policy</h4>
      <p>{{property?.cancellationPolicy || 'No cancellation policy found'}}</p>
      <hr>
      <!--ground rules-->
      <h4>Ground rules</h4>
      <p>We ask every guest to remember a few simple things about what makes a great guest.</p>
      <ul>
        <li>{{property?.houseRules || 'Follow host rules'}}</li>
      </ul>
      <button type="button" class="btn btn-danger">confirm and pay</button>
    </div>
    <!--right side-->
    <div class="right-sidebar">
      <div *ngIf="property">
        <img *ngfor="let photo of property.photos" [src]="photo.photoUrl" alt="Property Image" class="h-40 rounded-lg" /> />
        <h2>{{ property.title }}</h2>
        <p>{{ property.propertyType.name }}</p>
        <p>{{ property.reviewCount }} reviews</p>
        <p>Rating: {{ property.averageRating }}</p>
        <p>Price per night: ${{ property.pricePerNight }}</p>
        <p>Fees: ${{ bookings[0]?.totalFees }}</p>

        <!-- اختيار التواريخ -->
  <!-- <div class="my-4">
    <label>
      Start Date:
      <input
      type="date"
      #startDate
      (change)="onDatesSelected(($event.target as HTMLInputElement).value, endDate?.value || '')"
    />
     </label>

    <label>
      End Date:
      <input
      type="date"
      #endDate
      (change)="onDatesSelected(startDate?.value || '', ($event.target as HTMLInputElement).value)"
    />
      </label>
  </div> -->

  <!-- حساب السعر -->
  <!-- <p>Total Nights: {{ numberOfNights }}</p> -->
  <!-- جدول الفيز -->
<!-- <div *ngIf="fees.length > 0">
  <h3 class="font-semibold mt-4">Fees:</h3>
  <ul class="list-disc pl-5">
    <li *ngFor="let fee of fees">
      {{ fee.name }}: ${{ fee.amount }}
    </li>
  </ul>
</div>
  <p class="font-bold">Total Price: ${{ totalPrice }}</p> -->


      </div>
    </div>
</div>
  
