<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
      <div class="container h-100 d-flex justify-content-center">
        <img src="logo.png" alt="" class="object-fit-contain logo" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container d-flex flex-column gap-4">
        <h2 class="text-primary text-center">Login</h2>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="w-100"
          novalidate>
          <!-- Email -->
          <div class="form-floating mb-3 position-relative">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Email"
              required />
            <label>Email</label>
            <div
              class="text-danger"
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              ">
              <small *ngIf="loginForm.get('email')?.errors?.['required']">
                Email is required.
              </small>
              <small *ngIf="loginForm.get('email')?.errors?.['email']">
                Invalid email format. Correct format: name &#64; example.com
              </small>
            </div>
          </div>

          <!-- Password -->
          <div class="form-floating mb-4">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control pe-5"
              id="password"
              formControlName="password"
              placeholder="Password"
              required />
            <label>Password</label>

            <!-- Eye Icon inside input field -->
            <button
              type="button"
              class="btn position-absolute end-0 top-50 translate-middle-y me-3 p-0 border-0 bg-transparent"
              (click)="togglePasswordVisibility()"
              tabindex="-1">
              <lucide-icon
                [img]="showPassword ? icons.eyeOff : icons.eye"
                size="20"
                class="text-muted">
              </lucide-icon>
            </button>

            <div
              class="text-danger mt-1"
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              ">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">
                Password is required.
              </small>
            </div>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <!-- Submit -->
          <input
            type="submit"
            class="btn btn-primary text-white w-100 fw-semibold"
            value="Login" />

          <div class="d-flex justify-content-between mt-3 flex-wrap gap-2">
            <a routerLink="/register" class="text-decoration-none">
              Don't have an account? <span id="reg">Register</span>
            </a>
            <a href="#" class="text-decoration-none">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
